In [ ]:
# The / division operator calculates with a decimal.
4 / 2

In [ ]:
# The // division operator calculates without a decimal.
4 // 2

In [ ]:
# Python is dynamically typed.
# Dynamic Type
# a = 5
# a = 'Pouria'

String:

In [ ]:
message = "0123456789"

In [ ]:
message

In [ ]:
message[::]

In [ ]:
message[::-1]

In [ ]:
print("My name is Pouria\nI am 30 years old and this is a double quote \"\nbye")

In [ ]:
"""
Hi i am Pouria
I am 30 years old
This is a double quote "
"""

In [ ]:
name = "pouria"
name

In [ ]:
name = "P" + name[1:]
name

In [ ]:
(name + ' ') * 3

String interpolation

In [ ]:
name = "Pouria"
family_name = "Lornemati"
age = 30

In [ ]:
"Hello {}, {} you are {}".format(family_name, name, age)

In [ ]:
"Hello {family}, {name} you are {year}".format(name=name, family=family_name, year=age)

In [ ]:
age = 3.481236598
"Hello {family}, {name} you are {year:5.1f}".format(name=name, family=family_name, year=age)

In [ ]:
f"Hello {name} {family_name}, you are {age:1.1f} years old."

In [ ]:
x = 'Hi this is a string'
x.lower()
x.split(' ')

Lists:

In [ ]:
# List is ordered
my_list = [2, 4, 1, 7, 10, 12, 5, 3]

In [ ]:
my_list.reverse()
my_list

In [ ]:
my_list.pop()
my_list

In [ ]:
my_list.sort()
my_list

In [ ]:
my_list.append("47")
my_list

In [ ]:
my_list.remove('47')
my_list

Dictionary:

In [ ]:
score = {
    "Pouria":{
    "math":20,
    "physics":19,
    "sport":18
    }, 
    "Parsa":{
    "math":19,
    "physics":20,
    "sport":18    
    }
    }

In [ ]:
score["Pouria"]

In [ ]:
score["Pouria"]["math"]

In [ ]:
score.keys()

In [ ]:
score.values()

In [ ]:
score.items()

In [ ]:
score.get("Kasra", -1)

In [ ]:
score.get("Kasra", "The specified key does not exist in the dictionary.")

Tuples:

In [ ]:
# These are immutable
import math
coordinates = (3, 4)
distance = math.sqrt((coordinates[0] - 0)**2 + (coordinates[1] - 0)**2)
print(distance)

Set:

In [ ]:
movie = set()
movie.add("Pouria")
movie.add("Parsa")

In [ ]:
book = set()
book.add("Pouria")
book.add("Kasra")

In [ ]:
movie.union(book)

In [ ]:
movie.intersection(book)

In [ ]:
animals = set(["dog", "cat", "elephant", "whale", "mouse"])
animals

In [ ]:
animals.add("wolf")
animals

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)

Booleans:

In [ ]:
age = 30

In [ ]:
age == 30

In [ ]:
age == 20

In [ ]:
type(None)

In [ ]:
s = "10"
s.isdigit()

In [ ]:
mylist= [1, 2, 3, "PP", 4, 78, "df"]
"PP" in mylist

In [ ]:
mydict = {"dog":10, "cat":5, "wolf":4, "bitd":45}
"bird" in mydict

FileIO:

In [ ]:
f = open("myfile.txt")

In [ ]:
type(f)

In [ ]:
f.read()

In [ ]:
f.read(0)

In [ ]:
%%writefile funny_file.txt
hope you enjoy it
many lives, many codes
Pouria

In [ ]:
new_file = open("funny_file.txt")
lines = new_file.read()
lines

In [ ]:
new_file.seek(0)

In [ ]:
lines = new_file.readline()
lines

In [ ]:
new_file.seek(0)

In [ ]:
lines = new_file.readlines()
lines

In [ ]:
f.close()

In [ ]:
with open("myfile.txt") as f:
    lines = f.readlines()
    print(lines)
    print(lines[-1])

In [ ]:
output = open("myfile.txt", "a")
output.write("The new line is here")
output.close()